[% META title = 'VPN Certificate Generation' -%]
    
    <form method="post" action="/ca/template/vpn/certify/bundle.pem">
    <table>
		<tr><td>DNS :</td><td><input type="text" name="dns"><input type="hidden" name="template" value="VPN1"></td></tr>
      <tr><td colspan=2><input type="submit" name="Submit" value="Issue"></td></tr>
    </table>

    </form>
